
legend {
color: blue;
width: 10px;
font-size: 20px;


}



fieldset {background-color: azure};

body {
    font-family: 'Lobster', cursive;
  font-size: 15px;
}

input{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    display: block;
    margin-top: 1em;
    margin-left: 1em;
    width: 15em;
    
  }

  #Celular  {
    display: inline;
    width: 1em;

  }

  #Fijo  {
    display: inline;
    width: 1em;

  }
  #Telefono  {
    display: inline;
    width: 15em;

  }

  select{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    display: block;
    margin-top: 1em;
    margin-left: 1em;
    width: 15em;
  
  }



  h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
  }

  
  div {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
  }


  h5
  {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
  }